.team_members {
  .member {
    & > * {
      // member img
      &:first-child {
        border: 3px solid var(--clr-primary-200);
        margin-bottom: var(--spacing-18);
        overflow: hidden;
      }

      // member name
      & > *:first-child {
        font-family: var(--ff-secondary);
        font-size: 1.5rem;
        text-align: center;
      }
    }

    &_soc {
      margin: var(--spacing-12);

      display: flex;
      justify-content: center;
      gap: var(--spacing-18);

      a {
        height: fit-content;
        padding: 0.8rem;
        border: 2px solid var(--clr-primary-200);

        &:hover {
          background-color: var(--clr-primary-200);
          transition: all 0.5s ease;
          img {
            filter: brightness(0);
          }
        }

        img {
          width: 1.5rem;
        }
      }
    }
  }
}
