//section headline default style
%section-headline {
  font-family: var(--ff-secondary);
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 105%;
}

// background cover size
%background-covered {
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}
